black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
contextily
folium
gdal
geopandas
ipywidgets
opencv-python
Pillow
rasterio
rtree
sahi
seaborn
shapely
ultralytics
-e .
